* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 420px;
    background: whitesmoke;
    color: black;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.fa:hover {
    opacity: 0.7;
}




.first-section {
    background-image: url("http://hdqwalls.com/wallpapers/long-alone-dark-road-sunset-view-z7.jpg");
    background-repeat: no-repeat;
    min-height: 30em;
    color: white;
    width: 100%;
  }
  
  .container-one {
    display: flex;
    justify-content: space-evenly;
    background: rgb(0, 24, 53);
  }
  
  .container-two {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-top: 30px; */
  }
  
  .arc {
    font-family: "Major Mono Display", monospace;
    font-size: 40px;
    margin-left: 50px;
  }
  
  .arc:hover {
    transform: scale(1.1);
    transition: transform 0.2s, opacity 0.5s;
    text-decoration: underline;
  }
  
  .arc-checkout {
    font-family: "Major Mono Display", monospace;
    font-size: 120px;
  }
  
  .arc-footer {
    font-family: "Major Mono Display", monospace;
    font-size: 60px;
  }
  
  .navbar-item {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 0 25px;
    font-family: "Source Code Pro", monospace;
  }
  .navbar-item:hover {
    text-decoration: underline;
    color: white;
  }
  .slogan {
    color: white;
    font-weight: bold;
    font-family: "Kalam", cursive;
  }
  
  .featurette {
    padding: 60px;
    background: rgb(0, 24, 53);
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-7 {
    color: white;
  }
  
  .car-slogan {
    color: rgb(226, 210, 180);
  }
  
  .car-image {
    max-width: 500px;
    border-radius: 30px;
  }
  .car-image:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.7s, opacity 0.5s;
    font-size: 35px;
  }
  
  .porsche {
    font-family: "Satisfy", cursive;
  }
  
  .mustang {
    font-family: "Source Code Pro", monospace;
  }
  
  .bmw {
    font-family: "Kalam", cursive;
  }
  
  .dodge {
    font-family: "Permanent Marker", cursive;
  }
  footer {
    padding: 20px 0;
    font-size: 40px;
  }
  